<nav class="nav-menu">
    <a href="/">Home</a>
    <a href="/tap-on-phone-sell">TapOnPhoneSell</a>
    <a href="/sell-receipt-choose-payment-system">SellReceiptChoosePaymentSystem</a>
    <a href="/sell-electron-payment">SellElectronPayment</a>
    <a href="/sell-success-with-print">SellSuccessWithPrint</a>
    <a href="/launcher">Launcher</a>
    <a href="/statistics">Statistics</a>
    <a href="/receipt-statuses">ReceiptStatuses</a>
    <a href="/main-settings">MainSettings</a>
    <a href="/company-details">CompanyDetails</a>
    <a href="/payback-positions">PaybackPositions</a>
    <a href="/inventory-list">InventoryList</a>
</nav>
