@page "/account-found-cashier"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <img src="img/ic_cashier_user.png" alt="ic_cashier_user" />
        <span class="tvPhone"></span>
        <span class="descriptionTv"></span>
    </div>
    <div class="vgButtons" style="display:flex;flex-direction:column;width:100%">
        <button class="btnNext" style="width:100%"></button>
        <button class="btnChangeRole" style="width:100%"></button>
    </div>
</div>

@code {

    private void OnField2131361986Click()
    {
    }

    private void OnField2131361980Click()
    {
    }
}
