@page "/account-found-cashier-desc"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="descriptionTv" style="width:100%"></span>
</div>
