@page "/advance-receipt"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="advance_layout" style="width:100%">
        <div class="content" style="width:100%">
            <div class="appBarLayout" style="width:100%">
                <span class="search_tv" style="width:100%"></span>
            </div>
            <div class="advance_receipts_rv" style="width:100%"></div>
        </div>
        <div class="loader" style="width:100%"></div>
    </div>
</div>
