@page "/advance-receipt-filter"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <div class="filter_duration" style="width:100%"></div>
        <div class="filter" style="width:100%"></div>
    </div>
    <button class="btn_accept"></button>
</div>

@code {

    private void OnField2131361996Click()
    {
    }
}
