@page "/app-update"
@inject NavigationManager Nav

<div class="wrapper" style="width:100%">
    <img class="ivUpdateIcon" src="img/ic_update_app.png" alt="ic_update_app" />
    <span class="tvTitle"></span>
    <span class="tvInfo"></span>
    <button class="btnUpdate"></button>
</div>

@code {

    private void OnField2131361995Click()
    {
    }
}
