@page "/auth-device"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="error" style="width:100%"></div>
    <div class="loader" style="width:100%"></div>
</div>
