@page "/cash-change"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="payment_calculator_view" style="width:100%"></div>
    <div class="constraintButtonsContainer" style="width:100%">
        <button class="buttonWithoutChange"></button>
        <div class="constraintButtons">
            <button class="buttonCancel"></button>
            <button class="buttonNext"></button>
        </div>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131362047Click()
    {
    }

    private void OnField2131362040Click()
    {
    }

    private void OnField2131362044Click()
    {
    }
}
