@page "/check-registered-account-error"
@inject NavigationManager Nav

<div style="width:100%">
    <div style="display:flex;flex-direction:column;width:100%">
        <img src="img/ic_warning_outlined.png" alt="ic_warning_outlined" />
        <span class="tv_error_account" style="width:100%"></span>
        <span class="tv_account_try_again" style="width:100%"></span>
    </div>
    <div class="layout_buttons" style="width:100%">
        <button class="cancel_button"></button>
        <button class="repeat_button"></button>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131362082Click()
    {
    }

    private void OnField2131362922Click()
    {
    }
}
