@page "/combo-payment"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="combo_pay_next_boarding_tv" style="width:100%"></span>
    <span class="combo_pay_first_boarding_tv"></span>
    <div class="receipt_sum_layout" style="display:flex;flex-direction:row;width:100%">
        <span class="tv_sum_combo"></span>
        <span class="receipt_sum_tv"></span>
    </div>
    <div class="divider" style="width:100%"></div>
    <div class="combo_payment_scroll_view" style="width:100%">
        <div class="combo_payment_view" style="width:100%"></div>
    </div>
    <div class="amount_layout" style="width:100%">
        <span class="tv_pay_combo"></span>
        <span class="amount_tv"></span>
    </div>
    <div class="payments_type_view" style="width:100%"></div>
</div>
