@page "/company-details"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="nameTv" style="width:100%"></span>
    <span class="registryNumberTitleTv"></span>
    <span class="registryNumberValueTv"></span>
    <span class="taxNumberTitleTv"></span>
    <span class="taxNumberValueTv"></span>
    <span class="activityCodeTitleTv"></span>
    <span class="activityCodeValueTv"></span>
    <button class="editBtn" style="width:100%"></button>
</div>

@code {

    private void OnField2131362286Click()
    {
    }
}
