@page "/company-edit"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div style="width:100%">
            <label class="nameLayout" style="width:100%">
                <input style="width:100%" type="text" />
            </label>
            <label class="registryNumberLayout" style="width:100%">
                <input style="width:100%" type="text" />
            </label>
            <label class="taxNumberLayout" style="width:100%">
                <input style="width:100%" type="text" />
            </label>
            <label class="activityCodeLayout" style="width:100%">
                <div class="activityCodeAcTv" style="width:100%"></div>
            </label>
            <button class="saveBtn" style="width:100%"></button>
            <button class="skipBtn" style="width:100%"></button>
        </div>
    </div>
</div>

@code {

    private void OnField2131362955Click()
    {
    }

    private void OnField2131363035Click()
    {
    }
}
