@page "/device-setup-instruction"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <div style="display:flex;flex-direction:row;width:100%">
            <div class="pointLoginTv"></div>
            <span class="loginTv"></span>
        </div>
        <div style="display:flex;flex-direction:row;width:100%">
            <div class="pointAppStoreTv"></div>
            <span class="appStoreTv"></span>
        </div>
        <div style="display:flex;flex-direction:row;width:100%">
            <div class="pointTariffTv"></div>
            <span class="tariffTv"></span>
        </div>
        <div style="display:flex;flex-direction:row;width:100%">
            <div class="pointPurchaseTv"></div>
            <span class="purchaseTv"></span>
        </div>
        <div style="display:flex;flex-direction:row;width:100%">
            <div class="pointTerminalTv"></div>
            <span class="terminalTv"></span>
        </div>
        <div style="display:flex;flex-direction:row;width:100%">
            <div class="pointReadyTv"></div>
            <span class="readyTv"></span>
        </div>
    </div>
    <button class="btn_to_personal_account" style="width:100%"></button>
</div>

@code {

    private void OnField2131362020Click()
    {
    }
}
