@page "/discount-calculator"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div class="vgTabLayout" style="display:flex;flex-direction:row;width:100%">
            <span class="tvPercent"></span>
            <span class="tvAmount"></span>
        </div>
        <div class="numeric_keyboard_view" style="width:100%"></div>
        <div class="constraintButtons">
            <button class="buttonCancel"></button>
            <button class="buttonAccept"></button>
        </div>
    </div>
</div>

@code {

    private void OnField2131362040Click()
    {
    }

    private void OnField2131362035Click()
    {
    }
}
