@page "/documents-menu"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <span class="document_inventorization" style="width:100%"></span>
        <span class="document_inspection" style="width:100%"></span>
    </div>
</div>
