@page "/edit-group-parent"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div class="recycler_view_groups" style="width:100%"></div>
        <div class="constraint_bottom" style="width:100%">
            <div class="constraint_path" style="width:100%">
                <span class="path_title"></span>
                <span class="path"></span>
            </div>
            <button class="button_save"></button>
        </div>
        <div class="loader" style="width:100%"></div>
    </div>
</div>

@code {

    private void OnField2131362056Click()
    {
    }
}
