@page "/fast-sell-choose-pay-system"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <input class="inventoryName" type="text" />
    <div class="numeric_keyboard_view" style="width:100%"></div>
    <div class="paySystemsView" style="width:100%"></div>
    <div class="saveButtonVG" style="width:100%">
        <button class="saveBtn" style="width:100%"></button>
    </div>
</div>

@code {
    private string Field2131362473 { get; set; } = string.Empty;

    private void OnField2131362955Click()
    {
    }
}
