@page "/fast-sell-enabling"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%">
        <progress class="progress"></progress>
    </header>
    <span class="title" style="width:100%"></span>
    <div style="width:100%">
        <div style="width:100%">
            <div class="receipt_credentials"></div>
            <div class="payment_place"></div>
        </div>
    </div>
    <button class="btn_proceed" style="width:100%"></button>
</div>

@code {

    private void OnField2131362013Click()
    {
    }
}
