@page "/intermediate-payback-receipt"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="content" style="width:100%">
        <div class="appBarLayout" style="width:100%">
            <div class="layoutIntermediateContainer" style="display:flex;flex-direction:column;width:100%"></div>
            <div style="display:flex;flex-direction:row;width:100%">
                <span class="textIntermediateTotal"></span>
                <span class="textIntermediateTotalSum" style="width:100%"></span>
            </div>
        </div>
        <div class="recyclerIntermediatePositionsReceipt" style="width:100%"></div>
    </div>
    <div class="buttonsLayout" style="width:100%">
        <button class="buttonIntermediateCancel"></button>
        <button class="buttonIntermediatePay"></button>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131362042Click()
    {
    }

    private void OnField2131362043Click()
    {
    }
}
