@page "/inventorization-log"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="inventorization_log_title" style="width:100%"></span>
    <div class="filter_duration" style="width:100%"></div>
    <span class="filter_duration_tv" style="width:100%"></span>
    <div class="content" style="width:100%">
        <div class="inventorizations_rv" style="width:100%"></div>
    </div>
    <img class="empty_icon" src="img/ic_empty_inventarization.png" alt="ic_empty_inventarization" />
    <span class="empty" style="width:100%"></span>
</div>
