@page "/inventorization-receipt"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <img src="img/ic_not_sale.png" alt="ic_not_sale" />
        <span class="sendReceiptTv"></span>
        <progress></progress>
    </div>
</div>
