@page "/inventorization-details"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="summary_title_tv" style="width:100%"></span>
    <div class="summary_layout" style="display:flex;flex-direction:column;width:100%">
        <div style="display:flex;flex-direction:row;width:100%">
            <span class="initialQuantityTv"></span>
            <span class="quantityTv"></span>
            <span class="discrepancyQuantityTv"></span>
        </div>
    </div>
    <div class="positions_rv" style="width:100%"></div>
</div>
