@page "/inventorization-details-filter"
@inject NavigationManager Nav

<div style="width:100%">
    <span class="sort_results_title_tv" style="width:100%"></span>
    <fieldset class="sort_results_rg" style="width:100%">
        <div class="sort_results_by_name_layout" style="display:flex;flex-direction:row;width:100%">
            <input class="sort_results_by_name_rb" type="radio" />
            <span class="tv_by_name_inv" style="width:100%"></span>
        </div>
        <div class="sort_results_by_quantity_discrepancy_layout" style="display:flex;flex-direction:row;width:100%">
            <input class="sort_results_by_quantity_discrepancy_rb" type="radio" />
            <span class="tv_inv_by_num" style="width:100%"></span>
        </div>
    </fieldset>
    <input class="switchDiscrepanciesState" type="checkbox" />
    <button class="accept_btn" style="width:100%"></button>
    <button class="cancel_btn" style="width:100%"></button>
</div>

@code {

    private void OnField2131361810Click()
    {
    }

    private void OnField2131362081Click()
    {
    }
}
