@page "/inventory-type-add"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <span class="inventory_add_commodity_layout" style="width:100%"></span>
        <span class="inventory_add_group_layout" style="width:100%"></span>
        <span class="inventory_add_service_layout" style="width:100%"></span>
    </div>
</div>
