@page "/inventorization-log-filter"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="filter" style="width:100%"></div>
    <button class="accept_btn" style="width:100%"></button>
</div>

@code {

    private void OnField2131361810Click()
    {
    }
}
