@page "/inventorization-add-position"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="wrapper_background" style="display:flex;flex-direction:column;width:100%">
        <span class="receipt_position_name_tv"></span>
        <div style="width:100%">
            <span class="receipt_position_quantity_tv"></span>
        </div>
    </div>
    <div class="numeric_keyboard_view" style="width:100%"></div>
    <div class="layout_button_calculator" style="width:100%">
        <button class="calculator_cancel_button"></button>
        <button class="calculator_add_to_receipt_button"></button>
    </div>
</div>

@code {

    private void OnField2131362072Click()
    {
    }

    private void OnField2131362071Click()
    {
    }
}
