@page "/inventory-detail"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="content" style="width:100%">
        <div style="width:100%">
            <span class="inventory_edit_name" style="width:100%"></span>
            <div class="inventory_price_content">
                <span class="inventory_price_description" style="width:100%"></span>
                <span class="inventory_price" style="width:100%"></span>
            </div>
            <div class="inventory_quantity_content">
                <span class="inventory_quantity_description" style="width:100%"></span>
                <span class="inventory_quantity" style="width:100%"></span>
            </div>
            <div class="divider_1" style="width:100%"></div>
            <span class="inventory_description" style="width:100%"></span>
            <div class="tare_volume_content" style="width:100%">
                <span class="inventory_tare_volume_description"></span>
                <span class="inventory_tare_volume"></span>
            </div>
            <div class="sell_price_content" style="width:100%">
                <span class="inventory_sell_price_description"></span>
                <span class="inventory_sell_price"></span>
            </div>
            <div class="purchase_price_content" style="width:100%">
                <span class="inventory_purchase_price_description"></span>
                <span class="inventory_purchase_price"></span>
            </div>
            <div class="article_content" style="width:100%">
                <span class="inventory_article_description"></span>
                <span class="inventory_article"></span>
            </div>
            <div class="tax_content" style="width:100%">
                <span class="inventory_tax_description"></span>
                <span class="inventory_tax"></span>
            </div>
        </div>
    </div>
    <div class="loader" style="width:100%"></div>
</div>
