@page "/language-settings"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div style="display:flex;flex-direction:column;width:100%">
            <img src="img/ic_globe.png" alt="ic_globe" />
            <div class="vgLanguage" style="display:flex;flex-direction:column;width:100%"></div>
        </div>
    </div>
</div>
