@page "/layout-signature"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="tophSignatureToolbar" style="width:100%"></header>
    <div class="tophSignatureContent" style="width:100%">
        <div class="tophSignatureFrameLayout" style="width:100%">
            <span class="tophSignatureHeaderTv"></span>
            <div class="tophSignaturePad" style="width:100%"></div>
            <button class="tophSignatureClearButton"></button>
        </div>
        <button class="tophSignatureSkipButton"></button>
        <button class="tophSignatureConfirmButton"></button>
    </div>
    <div class="tophSignatureProgress" style="width:100%">
        <progress></progress>
    </div>
</div>

@code {

    private void OnField2131363225Click()
    {
    }

    private void OnField2131363232Click()
    {
    }

    private void OnField2131363226Click()
    {
    }
}
