@page "/layout-pinpad"
@inject NavigationManager Nav

<div style="width:100%">
    <div style="display:flex;flex-direction:column;width:100%">
        <div style="display:flex;flex-direction:column;width:100%">
            <span class="tophPinPadHeaderTv"></span>
            <div class="tophPinPadView"></div>
            <span class="tophPinPadStatusTv"></span>
        </div>
        <button class="btnAccept" style="width:100%"></button>
    </div>
    <div class="tophPinPadProgress" style="width:100%">
        <div></div>
    </div>
</div>

@code {

    private void OnField2131361975Click()
    {
    }
}
