@page "/maintenance-mode"
@inject NavigationManager Nav

<div style="width:100%">
    <img class="maintenanceIv" src="img/img_maintenance.png" alt="img_maintenance" />
    <span class="maintenanceTv" style="width:100%"></span>
    <span class="maintenanceDescriptionTv" style="width:100%"></span>
    <button class="closeAppBtn" style="width:100%"></button>
</div>

@code {

    private void OnField2131362118Click()
    {
    }
}
