@page "/note-receipt"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="title" style="width:100%"></span>
    <label class="layout_note_receipt" style="width:100%">
        <input class="edit_note_receipt" style="width:100%" type="text" />
    </label>
    <span class="tv_note" style="width:100%"></span>
    <div class="frame_hint" style="width:100%">
        <img src="img/ic_note_hint.png" alt="ic_note_hint" />
    </div>
    <span class="note_receipt_subtitle" style="width:100%"></span>
    <button class="btn_add_info" style="width:100%"></button>
</div>

@code {
    private string Field2131362289 { get; set; } = string.Empty;

    private void OnField2131361997Click()
    {
    }
}
