@page "/not-found-account"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <img src="img/ic_empty_search.png" alt="ic_empty_search" />
        <span class="tvDesc"></span>
    </div>
    <button class="btnReturnToPhone" style="width:100%"></button>
</div>

@code {

    private void OnField2131361989Click()
    {
    }
}
