@page "/order-status"
@inject NavigationManager Nav

<div style="width:100%">
    <div class="success_card" style="display:flex;flex-direction:column;width:100%">
        <img class="ic_status" />
        <span class="status_tv"></span>
        <span class="asfasfffa"></span>
    </div>
    <span class="description" style="width:100%"></span>
    <span class="description_message"></span>
    <button class="back_btn" style="width:100%"></button>
</div>

@code {

    private void OnField2131361941Click()
    {
    }
}
