@page "/payback-cancel-combo-payment"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="toolbar_tv" style="width:100%"></span>
    <div class="content" style="width:100%">
        <span class="tv_cancel_info_title" style="width:100%"></span>
        <div class="iv_cancel_info" style="width:100%"></div>
        <span class="tv_cancel_sum"></span>
    </div>
    <div class="buttons_layout" style="width:100%">
        <button class="btn_cancel"></button>
        <button class="btn_proceed"></button>
    </div>
</div>

@code {

    private void OnField2131361999Click()
    {
    }

    private void OnField2131362013Click()
    {
    }
}
