@page "/payback-receipt"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%">
        <div style="display:flex;flex-direction:column;width:100%">
            <span class="toolbar_title"></span>
            <span class="toolbar_date"></span>
        </div>
    </header>
    <div style="width:100%">
        <div class="appBarLayout" style="width:100%">
            <span class="tvSearch" style="width:100%"></span>
        </div>
        <div class="rv_positions_for_payback" style="width:100%"></div>
    </div>
</div>
