@page "/payback-success-without-print"
@inject NavigationManager Nav

<div style="width:100%">
    <img class="not_print_receipt_iv" src="img/ic_receipt.png" alt="ic_receipt" />
    <span class="digital_copy_tv"></span>
    <span class="info_tv" style="width:100%"></span>
    <span class="amount_tv" style="width:100%"></span>
    <button class="btn_proceed" style="width:100%"></button>
</div>

@code {

    private void OnField2131362013Click()
    {
    }
}
