@page "/payback-edit-position-name"
@inject NavigationManager Nav

<div class="rootView" style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <label class="field_name" style="width:100%">
            <input class="inventory_edit_name" style="width:100%" type="text" />
        </label>
        <button class="btnNavigateToEditPosition"></button>
    </div>
</div>

@code {
    private string Field2131362487 { get; set; } = string.Empty;

    private void OnField2131361985Click()
    {
    }
}
