@page "/payback-edit-position"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div class="include" style="width:100%"></div>
        <div class="numeric_keyboard_view" style="width:100%"></div>
        <div class="layout_button_calculator" style="width:100%">
            <button class="calculator_cancel_button"></button>
            <button class="calculator_add_to_receipt_button"></button>
        </div>
    </div>
</div>

@code {

    private void OnField2131362072Click()
    {
    }

    private void OnField2131362071Click()
    {
    }
}
