@page "/payback-electron-payment"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="content" style="width:100%">
        <span class="electron_info_title_tv"></span>
        <div class="constraint_layout">
            <div class="electron_info_iv"></div>
            <span class="electron_sum_tv"></span>
            <span class="electron_info_tv"></span>
        </div>
        <div class="constraint_buttons">
            <button class="cancel_button"></button>
            <button class="fiscalize_button"></button>
        </div>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131362082Click()
    {
    }

    private void OnField2131362380Click()
    {
    }
}
