@page "/payback-success-from-virtual-device"
@inject NavigationManager Nav

<div style="width:100%">
    <span class="virtual_success_tv"></span>
    <span class="info_tv" style="width:100%"></span>
    <span class="amount_tv" style="width:100%"></span>
    <button class="btn_proceed" style="width:100%"></button>
</div>

@code {

    private void OnField2131362013Click()
    {
    }
}
