@page "/payback-search"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%">
        <label class="positions_for_payback_search_layout" style="width:100%">
            <input style="width:100%" type="text" />
        </label>
    </header>
    <div class="rv_positions_for_payback" style="width:100%"></div>
    <div class="empty">
        <img style="width:100%" src="img/ic_empty_search_image.png" alt="ic_empty_search_image" />
        <span class="empty_text_view"></span>
    </div>
</div>
