@page "/payback-success-with-print"
@inject NavigationManager Nav

<div style="width:100%">
    <img class="print_receipt_anim" style="width:100%" src="img/print_receipt_animation.png" alt="print_receipt_animation" />
    <span class="receipt_sent_tv"></span>
    <div class="receipt_info_layout" style="width:100%">
        <span class="digital_copy_tv"></span>
        <div class="receipt_content_layout" style="width:100%">
            <div class="payment_info_vg" style="display:flex;flex-direction:column;width:100%">
                <span class="info_tv" style="width:100%"></span>
                <span class="amount_tv" style="width:100%"></span>
            </div>
        </div>
    </div>
    <button class="btn_proceed" style="width:100%"></button>
</div>

@code {

    private void OnField2131362013Click()
    {
    }
}
