@page "/payback-combo-payment"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="combo_pay_boarding_tv"></span>
    <div class="combo_payment_scroll_view" style="width:100%">
        <div class="combo_payment_view" style="width:100%"></div>
    </div>
    <div class="amount_layout" style="width:100%">
        <span class="tv_sale_combo_title"></span>
        <span class="amount_tv"></span>
    </div>
    <div class="payments_type_view" style="width:100%"></div>
    <div class="loader" style="width:100%"></div>
</div>
