@page "/payback-combo-type"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="content" style="width:100%">
        <span class="tv_payback_info_title" style="width:100%"></span>
        <div class="iv_payback_info" style="width:100%"></div>
        <span class="tv_payback_sum"></span>
        <div class="buttons_layout" style="width:100%">
            <button class="btn_cancel"></button>
            <button class="btn_proceed"></button>
        </div>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131361999Click()
    {
    }

    private void OnField2131362013Click()
    {
    }
}
