@page "/payment-settings"
@inject NavigationManager Nav

<div class="coordinatorLayout" style="width:100%">
    <div class="appbar" style="width:100%">
        <div class="collapsing_layout" style="width:100%">
            <span class="pay_systems_tv" style="width:100%"></span>
            <header class="toolbar" style="width:100%"></header>
        </div>
    </div>
    <div style="width:100%">
        <div style="display:flex;flex-direction:column;width:100%">
            <div class="cash_pay_switch" style="width:100%"></div>
            <div class="electron_pay_switch" style="width:100%"></div>
            <div class="qr_pay_layout" style="width:100%">
                <div class="qr_pay_switch" style="width:100%"></div>
                <button class="qr_pay_info_button" style="width:100%"></button>
            </div>
            <div class="tap_on_phone_pay_layout" style="width:100%">
                <div class="tap_on_phone_pay_switch" style="width:100%"></div>
                <button class="tap_on_phone_info_button" style="width:100%"></button>
                <button class="tap_on_phone_help_button" style="width:100%"></button>
            </div>
            <div class="combo_pay_switch" style="width:100%"></div>
        </div>
    </div>
</div>

@code {

    private void OnField2131362854Click()
    {
    }

    private void OnField2131363150Click()
    {
    }

    private void OnField2131363149Click()
    {
    }
}
