@page "/payment-priority-boarding"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="toolbar_title" style="width:100%"></span>
    <span class="boarding_title"></span>
    <img class="boarding_image" src="img/ic_payment_priority_boarding.png" alt="ic_payment_priority_boarding" />
    <span class="boarding_description"></span>
    <button class="choose_btn" style="width:100%"></button>
</div>

@code {

    private void OnField2131362105Click()
    {
    }
}
