@page "/payment-place-settings"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div style="width:100%">
            <label class="payment_address_layout" style="width:100%">
                <input style="width:100%" type="text" />
            </label>
            <label class="payment_place_layout" style="width:100%">
                <input style="width:100%" type="text" />
            </label>
            <span class="payment_place_info"></span>
            <div class="location_switch_layout" style="display:flex;flex-direction:column;width:100%">
                <input class="location_switch" style="width:100%" type="checkbox" />
            </div>
            <input class="cb_addresses_match" style="width:100%" type="checkbox" />
        </div>
    </div>
    <button class="receipt_default_place_save" style="width:100%"></button>
</div>

@code {

    private void OnField2131362877Click()
    {
    }
}
