@page "/pdf"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="rootView" style="width:100%"></div>
    <div class="loader" style="width:100%"></div>
</div>
