@page "/phone-verification"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="phone_verification_title" style="width:100%"></span>
    <div class="phone_input_view" style="width:100%"></div>
    <span class="phone_verification_info" style="width:100%"></span>
    <button class="btn_privacy_notice"></button>
    <button class="confirm_phone_button" style="width:100%"></button>
    <progress class="loader"></progress>
</div>

@code {

    private void OnField2131362012Click()
    {
    }

    private void OnField2131362154Click()
    {
    }
}
