@page "/receipt-sending-settings"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="scrollView" style="width:100%">
        <div class="container" style="display:flex;flex-direction:column;width:100%">
            <input class="should_print_receipt_switch" style="width:100%" type="checkbox" />
            <div class="divider" style="width:100%"></div>
            <span class="receipt_default_email_label" style="width:100%"></span>
            <div class="default_send_receipt_view" style="width:100%"></div>
        </div>
    </div>
    <button class="receipt_sending_save_button" style="width:100%"></button>
</div>

@code {

    private void OnField2131362896Click()
    {
    }
}
