@page "/receipt-status-details-positions"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <span class="searchTv" style="width:100%"></span>
    <div class="positionsRv" style="width:100%"></div>
</div>
