@page "/receipt-status-details-positions-search"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%">
        <label class="searchLayout" style="width:100%">
            <input style="width:100%" type="text" />
        </label>
    </header>
    <div class="positionsRv" style="width:100%"></div>
    <div class="empty">
        <img style="width:100%" src="img/ic_empty_search_image.png" alt="ic_empty_search_image" />
        <span class="emptyTv"></span>
    </div>
</div>
