@page "/receipt-status-details"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%">
        <div style="display:flex;flex-direction:column;width:100%">
            <span class="toolbar_title"></span>
            <span class="toolbar_date"></span>
        </div>
    </header>
    <div class="receiptTabLayout" style="width:100%"></div>
    <div class="receiptViewPager" style="width:100%"></div>
</div>
