@page "/receipt-status-details-payment-info"
@inject NavigationManager Nav

<div style="width:100%">
    <div class="content" style="width:100%">
        <div style="width:100%">
            <div style="width:100%"></div>
            <span class="totalTv"></span>
            <span class="totalValueTv"></span>
            <span class="dateTv"></span>
            <span class="dateValueTv"></span>
            <span class="paymentMethodTv"></span>
            <span class="paymentMethodValueTv"></span>
            <span class="rrnTv"></span>
            <span class="rrnValueTv"></span>
            <span class="statusTv"></span>
            <span class="statusValueTv"></span>
            <button class="sendElectronicReceiptBtn" style="width:100%"></button>
            <div class="divider" style="width:100%"></div>
            <span class="stanTv"></span>
            <span class="stanValueTv"></span>
            <span class="authCodeTv"></span>
            <span class="authCodeValueTv"></span>
            <span class="approvalCodeTv"></span>
            <span class="approvalCodeValueTv"></span>
        </div>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131363000Click()
    {
    }
}
