@page "/receipt-sending"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="default_send_receipt_view" style="width:100%"></div>
    <div style="display:flex;flex-direction:row;width:100%">
        <button class="btnCancel"></button>
        <button class="btnSave"></button>
    </div>
</div>

@code {

    private void OnField2131361979Click()
    {
    }

    private void OnField2131361990Click()
    {
    }
}
