@page "/review-app"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <span class="tv_review_desc" style="width:100%"></span>
        <label class="message_layout" style="width:100%">
            <input style="width:100%" type="text" />
        </label>
    </div>
    <button class="send_button" style="width:100%"></button>
    <div class="loading"></div>
</div>

@code {

    private void OnField2131363006Click()
    {
    }
}
