@page "/scanner"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="code_scanner_view" style="width:100%"></div>
    <div class="qr_hint_layout" style="display:flex;flex-direction:column">
        <span></span>
        <img src="img/ic_scan_qr.png" alt="ic_scan_qr" />
    </div>
</div>
