@page "/sell-combo-cash"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="payment_calculator_view" style="width:100%"></div>
    <div class="buttons_layout" style="width:100%">
        <button class="btn_without_change" style="width:100%"></button>
        <div class="action_buttons_layout" style="width:100%">
            <button class="btn_cancel"></button>
            <button class="btn_proceed"></button>
        </div>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131362024Click()
    {
    }

    private void OnField2131361999Click()
    {
    }

    private void OnField2131362013Click()
    {
    }
}
