@page "/sell-all-payment-types"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="toolbar_title" style="width:100%"></span>
    <div class="payment_types_rv" style="width:100%"></div>
</div>
