@page "/sell-receipt-list-for-payback"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div class="sell_receipt_for_payback_recycler_view" style="width:100%"></div>
    </div>
    <div class="receipt_empty_error_layout" style="width:100%">
        <img class="receipt_empty_image" src="img/ic_not_sale_image.png" alt="ic_not_sale_image" />
        <span class="receipt_empty_tv"></span>
    </div>
</div>
