@page "/sell-combo-electron-processing"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="content" style="width:100%">
        <span class="electron_info_title_tv" style="width:100%"></span>
        <div class="electron_info_iv" style="width:100%"></div>
        <span class="electron_sum_tv"></span>
        <div class="buttons_layout" style="width:100%">
            <button class="btn_cancel"></button>
            <button class="btn_proceed"></button>
        </div>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131361999Click()
    {
    }

    private void OnField2131362013Click()
    {
    }
}
