@page "/send-receipt-to-phone"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="phoneInputView" style="width:100%"></div>
    <button class="sendBtn" style="width:100%"></button>
    <div class="loader_toph_layout"></div>
</div>

@code {

    private void OnField2131362999Click()
    {
    }
}
