@page "/send-receipt-error"
@inject NavigationManager Nav

<div style="width:100%">
    <div class="content" style="width:100%">
        <div style="display:flex;flex-direction:column;width:100%">
            <img class="error_image" src="img/ic_warning_outlined.png" alt="ic_warning_outlined" />
            <span class="error_info_tv"></span>
            <span class="error_message_tv"></span>
            <button class="repeat_button" style="width:100%"></button>
        </div>
        <button class="return_button" style="width:100%"></button>
    </div>
    <div class="loader" style="width:100%"></div>
</div>

@code {

    private void OnField2131362922Click()
    {
    }

    private void OnField2131362931Click()
    {
    }
}
