@page "/send-receipt-to-email"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <label class="emailLayout" style="width:100%">
        <input class="emailEt" style="width:100%" type="text" />
    </label>
    <button class="sendBtn" style="width:100%"></button>
    <div class="loader_toph_layout"></div>
</div>

@code {
    private string Field2131362302 { get; set; } = string.Empty;

    private void OnField2131362999Click()
    {
    }
}
