@page "/settings-toph-inn-login"
@inject NavigationManager Nav

<div style="width:100%">
    <div class="content" style="width:100%">
        <div class="coordinatorLayout" style="width:100%">
            <div class="appbar" style="width:100%">
                <div class="collapsing_layout" style="width:100%">
                    <div style="width:100%">
                        <img style="width:100%" src="img/ic_boarding_top.png" alt="ic_boarding_top" />
                    </div>
                    <header class="toolbar" style="width:100%"></header>
                </div>
            </div>
            <div class="scroll" style="width:100%">
                <div style="display:flex;flex-direction:column;width:100%">
                    <span class="login_inn_info_tv" style="width:100%"></span>
                    <span class="login_inn_instraction_tv" style="width:100%"></span>
                    <label class="inn_login_layout" style="width:100%">
                        <input class="inn_login_edit_text" style="width:100%" type="text" />
                    </label>
                    <span class="login_inn_help_tv" style="width:100%"></span>
                </div>
            </div>
        </div>
        <button class="settings_proceed_button" style="width:100%"></button>
        <div class="registration_navigation_layout" style="display:flex;flex-direction:row;width:100%">
            <button class="skip_button"></button>
            <button class="registration_proceed_button"></button>
        </div>
    </div>
    <div class="loading" style="width:100%"></div>
</div>

@code {
    private string Field2131362449 { get; set; } = string.Empty;

    private void OnField2131363023Click()
    {
    }

    private void OnField2131363037Click()
    {
    }

    private void OnField2131362917Click()
    {
    }
}
