@page "/settings-devices"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div class="content" style="display:flex;flex-direction:column;width:100%">
            <div class="device_list_recycler_view" style="width:100%"></div>
            <button class="edit_new_device" style="width:100%"></button>
        </div>
        <div class="empty" style="display:flex;flex-direction:column">
            <img src="img/ic_simple_device.png" alt="ic_simple_device" />
            <span style="width:100%"></span>
        </div>
        <div class="loader" style="width:100%"></div>
    </div>
</div>

@code {

    private void OnField2131362288Click()
    {
    }
}
