@page "/settings-geolocation"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="width:100%">
        <div style="display:flex;flex-direction:column;width:100%">
            <span class="settings_payment_place" style="width:100%"></span>
        </div>
    </div>
</div>
