@page "/settings-feedback"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div style="display:flex;flex-direction:column;width:100%">
        <span class="settings_feedback_email_tv" style="width:100%"></span>
        <div style="display:flex;flex-direction:row;width:100%">
            <span class="settings_request_call_tv"></span>
            <progress class="loading"></progress>
        </div>
    </div>
</div>
