@page "/setup"
@inject NavigationManager Nav

<div style="width:100%">
    <img class="iv_gcash_logo" src="img/gcash_pocketpay_logo.png" alt="gcash_pocketpay_logo" />
    <span class="tv_title" style="width:100%"></span>
    <span class="tv_info" style="width:100%"></span>
    <button class="btn_sign_up" style="width:100%"></button>
    <button class="btn_log_in" style="width:100%"></button>
</div>

@code {

    private void OnField2131362018Click()
    {
    }

    private void OnField2131362008Click()
    {
    }
}
