@page "/tap-on-phone-balance-success"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <div class="content" style="display:flex;flex-direction:column;width:100%">
        <header class="toolbar" style="width:100%"></header>
        <div class="groupInfo" style="width:100%">
            <div style="width:100%">
                <div style="width:100%"></div>
                <div style="display:flex;flex-direction:column;width:100%">
                    <span class="tvSuccessMessage"></span>
                    <span class="tvBalance" style="width:100%"></span>
                    <button class="btnShow" style="width:100%"></button>
                </div>
                <div style="display:flex;flex-direction:row;width:100%">
                    <button class="btnClose"></button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private void OnField2131361991Click()
    {
    }

    private void OnField2131361981Click()
    {
    }
}
