@page "/toph-nfc-calibration"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="content" style="width:100%">
        <div class="motionLayout" style="width:100%">
            <img class="calibrationIv" src="img/ic_hand_card.png" alt="ic_hand_card" />
            <div class="dot1PulseWave"></div>
            <img class="dot1Iv" src="img/toph_calibrate_dot.png" alt="toph_calibrate_dot" />
            <img class="activeDot1Iv" src="img/toph_calibrate_active_gradient_dot.png" alt="toph_calibrate_active_gradient_dot" />
            <div class="dot2PulseWave"></div>
            <img class="dot2Iv" src="img/toph_calibrate_dot.png" alt="toph_calibrate_dot" />
            <img class="activeDot2Iv" src="img/toph_calibrate_active_gradient_dot.png" alt="toph_calibrate_active_gradient_dot" />
            <div class="dot3PulseWave"></div>
            <img class="dot3Iv" src="img/toph_calibrate_dot.png" alt="toph_calibrate_dot" />
            <img class="activeDot3Iv" src="img/toph_calibrate_active_gradient_dot.png" alt="toph_calibrate_active_gradient_dot" />
            <div class="dot4PulseWave"></div>
            <img class="dot4Iv" src="img/toph_calibrate_dot.png" alt="toph_calibrate_dot" />
            <img class="activeDot4Iv" src="img/toph_calibrate_active_gradient_dot.png" alt="toph_calibrate_active_gradient_dot" />
            <div class="dot5PulseWave"></div>
            <img class="dot5Iv" src="img/toph_calibrate_dot.png" alt="toph_calibrate_dot" />
            <img class="activeDot5Iv" src="img/toph_calibrate_active_gradient_dot.png" alt="toph_calibrate_active_gradient_dot" />
            <div class="dotSuccessPulseWave"></div>
            <img class="dotSuccessIv" src="img/toph_calibrate_success_gradient_dot.png" alt="toph_calibrate_success_gradient_dot" />
            <span class="calibrationDescriptionTv" style="width:100%"></span>
        </div>
        <button class="startCalibrateBtn" style="width:100%"></button>
    </div>
    <div class="loaderLayout"></div>
</div>

@code {

    private void OnField2131363070Click()
    {
    }
}
