@page "/toph-choose-region-fragment"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <div class="appbar" style="width:100%">
        <header class="toolbar" style="width:100%">
            <input class="region_edit_text" style="width:100%" type="text" />
        </header>
    </div>
    <div class="rv_regions" style="width:100%"></div>
</div>

@code {
    private string Field2131362911 { get; set; } = string.Empty;
}
