@page "/toph-activation-confirm"
@inject NavigationManager Nav

<div style="width:100%">
    <div class="appbar" style="width:100%">
        <header class="toolbar" style="width:100%"></header>
    </div>
    <div class="content" style="width:100%">
        <span class="confirm_code_tv" style="width:100%"></span>
        <label class="code_layout" style="width:100%">
            <div class="code_edit_text"></div>
        </label>
        <span class="error_message_tv" style="width:100%"></span>
        <span class="repeat_confirm_code_tv" style="width:100%"></span>
        <span class="get_confirm_code_tv" style="width:100%"></span>
    </div>
    <div class="loader_layout"></div>
</div>
