@page "/toph-activation-via-email"
@inject NavigationManager Nav

<div style="width:100%">
    <div class="appbar" style="width:100%">
        <header class="toolbar" style="width:100%"></header>
    </div>
    <span class="enter_email_tv" style="width:100%"></span>
    <label class="email_layout" style="width:100%">
        <input class="email_edit_text" style="width:100%" type="text" />
    </label>
    <span class="verificationInfoTv" style="width:100%"></span>
    <button class="confirm_email_button" style="width:100%"></button>
    <div class="loader_toph_layout"></div>
</div>

@code {
    private string Field2131362304 { get; set; } = string.Empty;

    private void OnField2131362152Click()
    {
    }
}
