@page "/toph-activation"
@inject NavigationManager Nav

<div style="width:100%">
    <div class="appbar" style="width:100%">
        <header class="toolbar" style="width:100%"></header>
    </div>
    <img src="img/ic_toph_logo.png" alt="ic_toph_logo" />
    <button class="activation_via_sms_tv" style="width:100%"></button>
    <button class="activation_via_email_tv" style="width:100%"></button>
    <button class="btn_contact_tech_support"></button>
</div>

@code {

    private void OnField2131361877Click()
    {
    }

    private void OnField2131361876Click()
    {
    }

    private void OnField2131362004Click()
    {
    }
}
