@page "/toph-nfc-calibration-boarding"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <img class="calibrationIv" style="width:100%" src="img/image_boarding_toph_calibration.png" alt="image_boarding_toph_calibration" />
    <span class="calibrationDescriptionTv" style="width:100%"></span>
    <button class="skipBtn"></button>
    <button class="locateNfcBtn"></button>
</div>

@code {

    private void OnField2131363035Click()
    {
    }

    private void OnField2131362598Click()
    {
    }
}
