@page "/toph-balance-error"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <div class="content" style="display:flex;flex-direction:column;width:100%">
        <header class="toolbar" style="width:100%"></header>
        <div class="groupInfo" style="width:100%">
            <div style="width:100%">
                <div style="display:flex;flex-direction:column">
                    <img src="img/ic_error_big.png" alt="ic_error_big" />
                    <span class="tvErrorMessage"></span>
                    <span class="tvErrorDescription"></span>
                </div>
                <div class="btn_group" style="display:flex;flex-direction:row;width:100%">
                    <button class="btnBackToHome"></button>
                    <div></div>
                    <button class="btnRetry"></button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private void OnField2131361978Click()
    {
    }

    private void OnField2131361988Click()
    {
    }
}
