@page "/toph-activation-via-sms"
@inject NavigationManager Nav

<div style="width:100%">
    <div class="appbar" style="width:100%">
        <header class="toolbar" style="width:100%"></header>
    </div>
    <span class="phone_verification_title" style="width:100%"></span>
    <div class="phone_input_view" style="width:100%"></div>
    <span class="phone_verification_info" style="width:100%"></span>
    <button class="confirm_phone_button" style="width:100%"></button>
    <div class="loader_toph_layout"></div>
</div>

@code {

    private void OnField2131362154Click()
    {
    }
}
