@page "/toph-nfc-calibration-error"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="scrollView" style="width:100%">
        <div style="width:100%">
            <span class="stepCounter1Tv"></span>
            <span class="step1Tv"></span>
            <span class="stepCounter2Tv"></span>
            <span class="step2Tv"></span>
            <img class="step2Iv" src="img/ic_card_contactless.png" alt="ic_card_contactless" />
            <span class="stepCounter3Tv"></span>
            <span class="step3Tv"></span>
            <div class="step3DescriptionCv" style="width:100%">
                <div style="width:100%">
                    <img class="step3DescriptionIv" src="img/ic_info.png" alt="ic_info" />
                    <span class="step3DescriptionTv"></span>
                </div>
            </div>
        </div>
    </div>
    <button class="retryBtn" style="width:100%"></button>
</div>

@code {

    private void OnField2131362929Click()
    {
    }
}
