@page "/toph-cancel-payment"
@inject NavigationManager Nav

<div class="resultLayout" style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <div class="transactionLayout" style="display:flex;flex-direction:column;width:100%">
        <img class="ivState" src="img/ic_error_big.png" alt="ic_error_big" />
        <span class="transactionTitle"></span>
        <span class="tvStateDescription"></span>
        <div style="display:flex;flex-direction:column;width:100%">
            <div style="display:flex;flex-direction:row;width:100%">
                <span class="tvDateTitle"></span>
                <span class="tvDateValue"></span>
            </div>
            <div class="vgReference" style="display:flex;flex-direction:row;width:100%">
                <span class="tvReferenceTitle"></span>
                <span class="tvReferenceValue"></span>
            </div>
        </div>
        <button class="btnAction" style="width:100%"></button>
    </div>
    <button class="btnNext" style="width:100%"></button>
</div>

@code {

    private void OnField2131361977Click()
    {
    }

    private void OnField2131361986Click()
    {
    }
}
