@page "/toph-cashier-order"
@inject NavigationManager Nav

<div style="display:flex;flex-direction:column;width:100%">
    <div style="width:100%">
        <header class="toolbar" style="width:100%"></header>
    </div>
    <span class="titleTv" style="width:100%"></span>
    <span class="subtitleTv" style="width:100%"></span>
    <img style="width:100%" src="img/ic_toph_order.png" alt="ic_toph_order" />
    <span class="btn_toph_activation" style="width:100%"></span>
</div>
