@page "/verify"
@inject NavigationManager Nav

<div class="coordinatorLayout" style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <span class="verify_title_tv" style="width:100%"></span>
    <div style="display:flex;flex-direction:column;width:100%">
        <span class="tvVerifyCode"></span>
        <span class="tvVerifyInfo"></span>
        <img style="width:100%" src="img/ic_verify_info.png" alt="ic_verify_info" />
    </div>
    <div class="loader" style="width:100%"></div>
</div>
