@page "/web"
@inject NavigationManager Nav

<div style="width:100%">
    <header class="toolbar" style="width:100%"></header>
    <iframe class="webView" style="width:100%"></iframe>
    <progress class="loader"></progress>
</div>
